.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #f7fed3;
  padding: 20px;
  margin-top: 20px;
}

.container > div[class^="car"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure that the content is evenly spaced */
  background-color: #ffffff;
  border: 1px solid #0b0101;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.container > div[class^="car"]:hover {
  background-color: #2980b9;
}

.container > div[class^="car"] img {
  max-width: 100%;
  height: auto;
}

.container > div[class^="car"] .car-info {
  flex-grow: 1; /* Allow the info section to take available space */
}

.container > div[class^="car"] .buy-button {
  margin-top: 10px; /* Add some spacing between the info and the button */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add some top margin for spacing */
  height: 10vh;
}


.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button:first-child,
.pagination button:last-child {
  margin: 0;
}
